// COLORES // 

$blanco:#FFF;
$negro:#000;
$gris:#CCC;
$gris_oscuro:#555;
$rojo:#e01433;
$verde:#00db8e;

// FUENTES //
$fuente: arial,sans-serif;

// MEDIA QUERIES //
$mq_xs: 576px;
$mq_sm: 768px;
$mq_md: 992px;
$mq_lg: 1200px;